/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




$link-visited: #A071B6;




body {
	padding-top: 44px;
	padding-left: 400px;

	font-family: 'Open Sans';
}

header {
	text-align: center;

	z-index: 99;

	color: #aaa;

	top: 0;
	left: 0;
	right: 0;
	position: fixed;

	background: #fff;

	color: #eee;
	background: #2d2d2d;

	cursor: default;
}

header a {
	text-decoration: inherit;
	color: inherit;

	font-weight: 300;
	font-size: 0.95em;

	display: inline-block;
	line-height: 44px;
	padding: 0 12px;

	&:hover{
		color: #999;
		transition: color 0.2s;
	}

}

header li {
	display: inline-block;

	margin: 0 12px;
}

header li.logo a {
	color: #000;
	font-weight: 600;
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 0.08em;

	color: #e7e7e7;
}

header img {
	vertical-align: middle;

	&:hover {
		opacity: 0.5;
		transition: opacity 0.2s;
	}
}

header li.on {
	color: #000;

	color: #999;
}

nav	{
	position: fixed;

	top: 40px;
	bottom: 0;
	left: 0;
	width: 30%;
	min-width: 400px;

	z-index: 0;

	color: #888;
	overflow: scroll;
	overflow-x: none;

	background: #f7f7f7;
}

nav > ul {
	margin: 60px 40px;
	margin-left: 60px;
}

nav li {
	line-height: 1.25em;
	margin: 1em 0;
}

nav li.heading {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8em;
	margin-top: 3em;
	color: #333;
	letter-spacing: 0.08em;
}

nav a {
	text-decoration: inherit;
	color: inherit;

	&:hover {
		color: #000;
	}

	/*
	&:visited {
		color: $link-visited;

		&:hover {
			color: #551A8B;
		}
	}
	*/
}

article {

}


article > div {

	max-width: 36em;

	margin: 30px auto;
}

article h1, article h2, article h3 {
	margin: 10px 0 20px;
	font-weight: bold;
}

article h1 {

	font-size: 2em;
	font-weight: 400;

	margin-top: 1.5em;

}

article p {
	margin: 10px 0 28px;
	line-height: 1.8em;

}

article blockquote {
	font-size: 2em;
	font-weight: 200;
	line-height: 2em;

	color: #555;

	margin: 40px 0;
}


article blockquote > div {
	text-align: center;
}

article ul {
	margin-left: 2em;
}

article li {
	list-style: square;
	line-height: 1.5em;
	margin: 0.8em 0;
}

.ratio
{
	position: relative;
	padding-bottom: 56.25%;

	background: url(p1.jpg);
	background-size: contain;

}

.ratio > div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


article.boo {
	background: #000;
	height: 400px;
}



.landing {
	background: #000;
	background: url('full_disk_ahi_true_color_20160129000000.jpg') center center no-repeat #000;
	color: #fff;

	padding-left: 0;
}

.landing header {
	background: #000;
	background: rgba(0,0,0,0.7);
}

.landing .on, .landing .logo {
	color: #ddd;
}

.hero > * {
	text-align: center;
	max-width: 40em;
	margin: 40px auto;
}

.hero > h1 {
	margin-top: 200px;
	margin-bottom: 10px;

	font-weight: 600;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}


.hero > h2 {
	margin-top: 10px;
	margin-bottom: 100px;

	font-weight: 400;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #aaa;
}

.hero > p {
	line-height: 2em;
	max-width: 26em;
}














.meme {
	margin: 0 auto 0;
	width: 600px;
	height: 800px;

	background: white;
}

.hero {
	text-align: center;

	font-size: 1.6em;
	line-height: 1.5em;
	font-weight: 300;

	margin: 0 auto;
	margin-top: 2em;

	max-width: 800px;

	height: 100vh;
}


  /* Parallax base styles
  --------------------------------------------- */

.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;

	color: #fff;
}

.parallax-group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

.parallax-layer.foreground {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax-layer.base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax-layer.background {
	-webkit-transform: translateZ(-150px) scale(1.5);
	transform: translateZ(-150px) scale(1.5);
	z-index: 3;
}

.parallax-layer.deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}


