doctype html
html(lang="en")
	head
		title Aaron Sun
		link(rel='icon', href='/assets/icon64.png')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700')
		link(rel='stylesheet', href='/assets/style.css')
	body.landing
		header
			ul
				li.logo
					a(href='/')
						img(src='/assets/logo.svg', height='20px')
				li
					a(href='/philosophy') Philosophy
				li
					a(href='/technology') Technology
				li
					a(href='/application') Application
				li
					a(href='/editorial') Editorial
				li
					a(href='/about') About
		.parallax
			.parallax-layer.deep
				video(width='1000', height='1000', autoplay, loop, style="margin: 380px auto 0; display: block")
					source(src='/assets/Himawari-8.webm', type='video/webm')
			.parallax-layer.base
				.hero 
					p &ldquo;We need a systematic approach to foster humanistic values, of oneness and harmony. If we start doing it now, there is hope that this century will be different from the previous one. It is in everybody's interest. So let us work for peace within our families and society&hellip;&rdquo;
					p &mdash; Dalai Lama
				.letterbox
					h1 Mission
					p We live in an era of rapid growth and change. Never before in history have had such unprecidented access to the world around us. We can now see and understand our planet in its entirety through technology. There is still much to be done; we still have poverty, war, diseases, inequality and many other realities that we want to improve.
					p The advancements that have gotten us here can help us get to the next stage. Getting there requires a lot of work. The essays thoughout this site will give you an understanding of all the parts and the roadmap of how we can fit all of them together. You can help contribute at this early stage by becoming a patron of this vision or by sharing these ideas.
					a(href='https://www.patreon.com/philosophizethis') Support

			.parallax-layer.foreground