doctype html
html(lang="en")
	head
		title Aaron Sun
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet')
		link(href='/assets/style.css', rel='stylesheet')
	body.landing
		header
			ul
				li.logo
					a(href='/') Aaron Sun
				li
					a(href='/philosophy') Philosophy
				li
					a(href='/technology') Technology
				li
					a(href='/application') Application
				li
					a(href='/editorial') Editorial
				li
					a(href='/about') About

		video(width='1000', height='1000', autoplay, loop, style="margin: 300px auto; display: block")
			source(src='/assets/Himawari-8.webm', type='video/webm')