doctype html
html(lang="en")
	head
		if title
			title= title
		else
			title Aaron Sun
		link(rel='icon', href='/assets/icon64.png')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700')
		link(rel='stylesheet', href='/assets/style.css')
	body
		header
			ul
				li.logo
					a(href='/')
						img(src='/assets/logo.svg', height='20px')
				li(class=(section == 'philosophy') ? 'on' : '')
					a(href='/philosophy') Philosophy
				li(class=(section == 'technology') ? 'on' : '')
					a(href='/technology') Technology
				li(class=(section == 'application') ? 'on' : '')
					a(href='/application') Application
				li(class=(section == 'editorial') ? 'on' : '')
					a(href='/editorial') Editorial
				li(class=(section == 'about') ? 'on' : '')
					a(href='/about') About
		nav
			ul
				each page in contents
					if page.url
						li
							a(href=page.url)= page.name
					else
						li.heading= page.name
		article
			div!= body